@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.container{
    display: flex;
    height: 100vh;
}
.container-1 {
    width: 50%;
    color: white;
    background-color:#109FC8;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    box-shadow: 2px 5px 5px ;
}
.container-1 h1{
    letter-spacing: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

select{
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin: 20px;
}
select:focus{
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 50%;
    padding: 50px;
    background:#87C7FC;
    border-radius: 10px;
}
.form input{
    margin: 15px;
    padding: 10px;
    font-size: 1rem;
    width: 85%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    color: #444C4F;
}
.form input:focus{
    outline: none;
}
#submit-btn{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    color: white;
    background: #72A4E5;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 900;
}
#submit-btn:hover{
    background: white;
    color: #72A4E5;
    cursor: pointer;
}


/* container-2 */

.container-2{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Img img{
    margin-top: 20px;
    width: 150px;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#res{
    font-size: 2rem;
    font-weight: 700;
    color: blueviolet;
}
#category{
    font-size: 1.34rem;
    font-weight: 900;
    color: #5E758F;
}
#tip{
    font-weight: 900;
    letter-spacing: 4px;
    color: #5E758F;
}

.border{
    border-bottom: 2px solid #DCECFC;
    padding: 25px;
} 

/* for mobile*/

@media screen and (max-width: 578px){
    body{
        font-size: 1rem;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container-1,.container-2{
        width: auto;
        padding: 20px;
    } 
    .container-1 h1{
        color: #2F589B;
        letter-spacing: 0;
    }
    .container-1 {
        background: none;
        margin: 1px;
        box-shadow: 2px 5px 5px #DCE4F4;
    }
    select{
        border: 2px solid #8BB4C8;
    }
    .form {
        width: auto;
        margin-top: 5px;
    }
    #res{
        font-size: 1.3rem;
        color:#2B5CA5;
    }
}